<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/common/js/cookieUtil.js"></script>
  <script src="/common/js/isLogged.js"></script>
  <link rel="stylesheet" href="/common/css/cleanStyle.css">
  <link rel="stylesheet" href="/common/css/colors.css">
  <link rel="stylesheet" href="./index.css">
  <title>联系人</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <span id="username">Loding...</span>
      <div class="operate">
        <span id="refresh">刷新</span>
        <span id="logout">注销</span>
      </div>
    </div>
    <div class="contactList">
      <div class="contact">
        <div class="contactTop">
          <span class="username">ls</span>
          <span class="lastDate">18:18</span>
        </div>
        <div class="contactBottom">
          <span class="lastMessage">ghk;lsdqd qewr</span>
          <span class="messageNum">13</span>
        </div>
      </div>
    </div>
  </div>
  <script src="./index.js"></script>
</body>

</html>